<?xml version="1.0" encoding="utf-8"?>
    <packages>
         <package id="7zip" version="23.1.0" />
         <package id="cmake" version="3.27.9"
                  installArguments="ADD_CMAKE_TO_PATH=System" />
         <package id="git" version="2.44.0" />
         <package id="make" version="4.4.1" />
         <package id="mingw" version="13.2.0" />
         <package id="ninja" version="1.11.1" />
         <package id="python" version="3.12.3" />
         <package id="visualstudio2019buildtools" version="16.11.34.0" />
         <package id="visualstudio2019community" version="16.11.34.0" />
         <package id="visualstudio2019-workload-nativedesktop"
                  version="1.0.1" />
         <package id="vswhere" version="3.1.7" />
    </packages>
